@import "src/styles";

.sidebar {
  width: 160px;
  padding: 32px;
}

.sidebar__links {
  list-style: none;
}

.sidebar__item {
  margin-bottom: 20px;
}

.sidebar__link {
  @include regularText;
  color: $white;
  text-decoration: none;

  &_active {
    @include mediumText;
    text-decoration: underline;
  }
}
