@import "src/styles";

.sidebar {
  width: 240px;
  padding: 32px;

  @include tabletMedia {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
  }
}

.sidebar__title {
  @include h1Text;
  color: $white;
  margin-bottom: 32px;
}

.sidebar__update-button {
  width: 180px;
}
