@import "src/styles";

.currency__table {
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
}

.currency-table__head-row {
  background-color: $darkBlue;
  color: $white;
  text-align: left;
}

.currency-table__cell {
  @include regularText;
  padding: 12px 15px;
}

.currency-table__body-row {
  &:nth-of-type(odd) {
    background-color: $white;
  }

  &:last-of-type {
    border-bottom: 2px solid $darkBlue;
  }
}
