@import "src/styles";

.button {
  width: 100%;
  @include mediumText;
  border: none;
  border-radius: 4px;
  background-color: $lightGray;
  padding: 16px;
  cursor: pointer;

  &_disabled {
    pointer-events: none;
    opacity: .5;
  }
}
