<ng-container *ngIf="{
  scene: scene$ | async,
  currencies: currencies$ | async
} as params">
  <div class="currency">
    <div class="currency__content">
      <ng-container [ngSwitch]="params.scene">
        <ng-container *ngSwitchCase="scene.Init">
          <p class="currency__loading">Loading...</p>
        </ng-container>
        <ng-container *ngSwitchCase="scene.Error">
          <p class="currency__error">Error</p>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="currency__table">
            <app-table [currencies]="params.currencies"></app-table>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
