@import "../../../styles";

.currency {
  display: flex;
}

.currency__content {
  padding: 32px;
  flex-grow: 1;
}

.currency__loading {
  @include regularText;
  color: $darkBlue;
}

.currency__error {
  @include regularText;
  color: $red;
}
