<table class="currency-table">
  <thead class="currency-table__head">
    <tr class="currency-table__head-row">
      <th class="currency-table__cell">Name</th>
      <th class="currency-table__cell">Value</th>
    </tr>
  </thead>
  <tbody class="currency-table__body">
    <ng-container *ngFor="let item of currencies">
      <tr class="currency-table__body-row">
        <td class="currency-table__cell">{{item.name}}</td>
        <td class="currency-table__cell">{{item.value | rubles}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
