name: push-check

on: push
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run linter
        run: make lint

      - name: Run linter
        run: make test
        
